<h1> Welcome <%= current_user.email %> <small> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </small> </h1>

<div>
	<%= link_to "New Project", new_project_path %> 
</div>

<div>
	<h4> Projects List </h4>

	<ul>
	<% @projects.each do |p| %>
		<li> <%= link_to p.name, p %> </li>
	<% end %>
	</ul>
</div>
